{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}" fetchpriority="high" />
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author.name }}" fetchpriority="high" />
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.pronouns %}<p class="author__pronouns">{{ author.pronouns }}</p>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">

      <!-- Biographic info -->
      {% if author.location %}
        <li class="author__desktop"><i class="fas fa-fw fa-location-dot icon-pad-right"></i>{{ author.location }}</li>
      {% endif %}
      {% if author.employer %}
        <li class="author__desktop"><i class="fas fa-fw fa-building-columns icon-pad-right"></i>{{ author.employer }}</li>
      {% endif %}
      {% if author.uri %}
        <li><a href="{{ author.uri }}"><i class="fas fa-fw fa-link icon-pad-right"></i>Website</a></li>
      {% endif %}
      {% if author.email %}
        <li><a href="mailto:{{ author.email }}"><i class="fas fa-fw fa-envelope icon-pad-right"></i>Email</a></li>
      {% endif %}

      <!-- Academic websites -->
      {% if author.academia %}
        <li><a href="{{ author.academia }}"><i class="ai ai-academia ai-fw icon-pad-right"></i>Academia</a></li>
      {% endif %}
      {% if author.arxiv %}
        <li><a href="{{ author.arxiv }}"><i class="ai ai-arxiv ai-fw icon-pad-right"></i>arXiv</a></li>
      {% endif %}
      {% if author.googlescholar %}
        <li><a href="{{ author.googlescholar }}"><i class="ai ai-google-scholar ai-fw icon-pad-right"></i>Google Scholar</a></li>
      {% endif %}
      {% if author.inspire-hep %}
        <li><a href="{{ author.inspire-hep }}"><i class="ai ai-inspire ai-fw icon-pad-right"></i>INSPIRE-HEP</a></li>
      {% endif %}
      {% if author.impactstory %}
        <li><a href="{{ author.impactstory }}"><i class="ai ai-impactstory ai-fw icon-pad-right"></i>Impactstory</a></li>
      {% endif %}
      {% if author.pubmed %}
        <li><a href="{{ author.pubmed }}"><i class="ai ai-pubmed ai-fw icon-pad-right"></i>PubMed</a></li>
      {% endif %}
      {% if author.researchgate %}
        <li><a href="{{ author.researchgate }}"><i class="fab fa-fw fa-researchgate icon-pad-right"></i>ResearchGate</a></li>
      {% endif %}
      {% if author.scopus %}
        <li><a href="{{ author.scopus }}"><i class="ai ai-scopus ai-fw icon-pad-right"></i>Scopus</a></li>
      {% endif %}
      {% if author.semantic %}
        <li><a href="{{ author.semantic }}"><i class="ai ai-semantic-scholar ai-fw icon-pad-right"></i>Semantic Scholar</a></li>
      {% endif %}
      {% if author.ssrn %}
        <li><a href="{{ author.ssrn }}"><i class="ai ai-ssrn ai-fw icon-pad-right"></i>SSRN</a></li>
      {% endif %}
      {% if author.zotero %}
        <li><a href="{{ author.zotero }}"><i class="ai ai-zotero ai-fw icon-pad-right"></i>Zotero</a></li>
      {% endif %}

      <!-- Code / repositories -->
      {% if author.github %}
        <li><a href="https://github.com/{{ author.github }}"><i class="fab fa-fw fa-github icon-pad-right"></i>GitHub</a></li>
      {% endif %}
      {% if author.kaggle %}
        <li><a href="https://kaggle.com/{{ author.kaggle }}"><i class="fab fa-fw fa-kaggle icon-pad-right"></i>Kaggle</a></li>
      {% endif %}
      {% if author.stackoverflow %}
        <li><a href="https://stackoverflow.com/users/{{ author.stackoverflow }}"><i class="fab fa-fw fa-stack-overflow icon-pad-right"></i>Stack Overflow</a></li>
      {% endif %}

      <!-- Social media -->
      {% if author.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author.linkedin }}"><i class="fab fa-fw fa-linkedin icon-pad-right"></i>LinkedIn</a></li>
      {% endif %}
      {% if author.twitter %}
        <li><a href="https://twitter.com/{{ author.twitter }}"><i class="fab fa-fw fa-x-twitter icon-pad-right"></i>X (Twitter)</a></li>
      {% endif %}
      {% if author.medium %}
        <li><a href="{{ author.medium }}"><i class="fab fa-fw fa-medium icon-pad-right"></i>Medium</a></li>
      {% endif %}
      {% if author.youtube %}
        <li><a href="https://www.youtube.com/@{{ author.youtube }}"><i class="fab fa-fw fa-youtube icon-pad-right"></i>YouTube</a></li>
      {% endif %}

    </ul>
  </div>
</div>
